Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

Redirect 301 /catalog/podarochnye-nabory-sertifikaty/podarochnye-nabory/nabor-noyabrskiy-/ /catalog/podarochnye-nabory-sertifikaty/podarochnye-nabory/nabor-dekabr-/

# редирект с www на без-www
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#редирект с http на https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Удаляем Дубли страниц index.php
  RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
  RewriteCond %{THE_REQUEST} !bitrix/admin/
  RewriteRule ^(.*)index\.php$ http://%{HTTP_HOST}/$1 [R=301,L]

# Редирект index.html
#  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
#  RewriteRule ^index\.html$ https://azbuka-severa.ru [R=301,L]

# (/?)
  RewriteCond %{THE_REQUEST} ^[^\s]+\s+[^?]*?\?
  RewriteCond %{QUERY_STRING} ^$
  RewriteRule .? %{REQUEST_URI}? [R=301,L]

# Удаляем повторяющие слеши в конце URL
  RewriteCond %{REQUEST_URI} ^(.*?)\/{2,}(.*?)$
  RewriteRule . %1/%2 [L,R=301]
  RewriteCond %{THE_REQUEST} //
  RewriteRule .* /$0 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>